:root{
  --very-light-gray: #DAD3CE;
  --light-gray: #5B625E;
  --gray: #384137;
  --dark-gray: #374041;
  --very-dark-gray: #282C2D;

  --cyan: #738F8B;
  --blue: #617984;
  --purple: #99879F;
  --green: #678B70;
  --red: #885345;
  --orange: #8B674B;
  --light-orange: #7D7E69;

  --master-font: 'Eagle Lake', cursive;
}

* {
  background-color: var(--very-dark-gray);
  color: var(--very-light-gray);
  font-family: var(--master-font);
}


ul {
  list-style-type: none;
}

button {
  color: var(--very-light-gray);
  font-family: var(--master-font);
}

li {
  text-align: center;
}

li button {
  background-color: var(--red);
}

li button:hover {
  background-color: var(--orange);
}

#back a {
  color: var(--very-light-gray);
}

#titles input{
  text-align: center;
  font-size: 110%;
  color: var(--red);
  outline: none;
  box-shadow: none;
  border-color: var(--very-dark-gray);
}

.actorUtils input {
  background-color: var(--very-dark-gray);
}

#actor_input button{
  background-color: var(--green);
}

#actor_input button:hover{
  background-color: var(--cyan);
}

.selectors td{
  background-color: var(--green);
}
.headers th{
  background-color: var(--red);
}
.monsters td{
  background-color: var(--very-light-gray);
  color: var(--dark-gray);
}

.monsters a {
  color: var(--dark-gray);
}
